

.parent{

    position: relative;
    bottom: 0;
    /* padding: 0px 200px 0px 200px; */
}


 .image1{
      position:relative;
      bottom: 0;
      /* margin-bottom: 1px; */
      
 }
  
 .image2{
      position: absolute;
      bottom: 2px;
      background-color: white;
      border: 1px solid;
      border-color: aqua;
      /* padding: 0px 300px 0px 300px; */
      /* padding-left: 400px; */
      /* display: flex; */
      /* justify-content: center; */
      /* align-items: center; */

 }
 .parent2{
     padding: 0px 450px 0px 250px;
 }